## DataFrame in tabs formatting Example

In [ ]:
import pandas as pd
import numpy as np
import ipywidgets as widgets
from IPython.display import display

tab = widgets.Tab()

descr_str = "Hello"

title = widgets.HTML(descr_str)

# create output widgets
widget_images = widgets.Output()
widget_annotations = widgets.Output()

# render in output widgets
with widget_images:
    display(pd.DataFrame(np.random.randn(10,10)))
with widget_annotations:
    display(pd.DataFrame(np.random.randn(10,10)))

tab.children = [widget_images, widget_annotations]
tab.titles = ["Images", "Annotations"]

display(widgets.VBox([title, tab]))